---
import HeaderLink from "./HeaderLink.astro";
import sunSvg from "/assets/fa-sun.svg?raw";
import moonSvg from "/assets/fa-moon.svg?raw";
import { URL_BASE, SITE_TITLE } from "$consts";
---

<header>
  <nav>
    <h2><a href={`${URL_BASE}/`}>{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href={`${URL_BASE}/`}>Home</HeaderLink>
      <HeaderLink href={`${URL_BASE}/article`}>Blog</HeaderLink>
      <HeaderLink href={`${URL_BASE}/about`}>About</HeaderLink>
    </div>
    <div class="social-links">
      <span style="width: 2em;">&nbsp;</span>
      <a id="theme-toggle" target="_blank">
        <span class="sr-only">Toggle theme</span>
        <div class="theme-icon light">
          <Fragment set:html={sunSvg} />
        </div>
        <div class="theme-icon dark">
          <Fragment set:html={moonSvg} />
        </div>
      </a>
      <a href="https://github.com/tzhTaylor" target="_blank">
        <span class="sr-only">Go to My GitHub's Profile</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
          ><path
            fill="currentColor"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path></svg
        >
      </a>
    </div>
    <script>
      const themeToggle = document.getElementById("theme-toggle");

      // Theme toggle functionality
      themeToggle?.addEventListener("click", () => {
        const isDark = document.documentElement.classList.toggle("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
      });
    </script>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: var(--nav-bg-color);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1.2em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 1.1em;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  .social-links svg {
    width: 24px;
    height: 24px;
  }
  .theme-icon.light svg {
    width: 24px;
    height: 24px;
  }
  .theme-icon.dark svg {
    width: 24px;
    height: 24px;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
